VITE_SUPABASE_URL=https://ahnderdgkywtsahbapdv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFobmRlcmRna3l3dHNhaGJhcGR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExODE1NzAsImV4cCI6MjA2Njc1NzU3MH0.9WdJxMzF_AdnyaoUwAh9B7HBrQzeatWTerBxjHjZKas

# ElevenLabs Configuration
VITE_ELEVENLABS_API_KEY=sk_a8ed6d3d1a8d8a1c3fa2014be425a6c7da7570f5086470bc

# Tavus Configuration
VITE_TAVUS_API_KEY=2f263fcb5fa44c7ca8ed76d789cdb756